# Data Warehouse with Redshift - ETL
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

>
> **Stephanie Anderton**  
> DEND Project \#3  
> May 28, 2019
>

In [20]:
import configparser
import psycopg2
import pandas as pd
import json
import time
import mylib
from mylib import logger
import re
from sql_queries import copy_table_queries, insert_table_queries
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Function Definitions

In [21]:
def load_staging_tables(cur, conn):
    for query in copy_table_queries:
        # the table name is the 2nd word in the query string
        table = re.findall(r'\w+', query)[1]
        logger.info('load staging table [ {} ]'.format(table))
        try:
            cur.execute(query)
            conn.commit()
        except psycopg2.Error as e: 
            logger.info('Error: Staging table [ {} ]'.format(table))
            print(e)
            print(query)

In [22]:
def insert_tables(cur, conn):
    for query in insert_table_queries:
        # the table name is the 3rd word in the query string
        table = re.findall(r'\w+', query)[2]
        logger.info('insert to table [ {} ]'.format(table))
        try:
            cur.execute(query)
            conn.commit()
        except psycopg2.Error as e: 
            logger.info('Error: Inserting to table [ {} ]'.format(table))
            print(e)
            print(query)

In [23]:
def count_table_rows(cur, conn):
    for query in count_table_queries:
        # the table name is the last word in the query string
        table = re.findall(r'\w+', query)[-1]
        try:
            cur.execute(query)
            conn.commit()
            # the query returns the row count
            result = cur.fetchall()
            rows = result[0][0]
            logger.info("table [ {} ] count:  {}".format(table, rows))
        except psycopg2.Error as e: 
            logger.info('Error: Issue counting table [ {} ]'.format(table))
            print(e)
            print(query)

## Read Config File

In [24]:
logger.info('---[ Begin ETL ]---')
mylib.log_timestamp()
print("Logfile:  " + mylib.log_file_name())

Logfile:  ./logs/etl-20190528.log

In [25]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

HOST         = config['CLUSTER']['HOST']
DB_NAME      = config['CLUSTER']['DB_NAME']
DB_USER      = config['CLUSTER']['DB_USER']
DB_PASSWORD  = config['CLUSTER']['DB_PASSWORD']
DB_PORT      = config['CLUSTER']['DB_PORT']

ARN          = config['IAM_ROLE']['ARN']

LOG_DATA     = config['S3']['LOG_DATA']
LOG_JSONPATH = config['S3']['LOG_JSONPATH']
SONG_DATA    = config['S3']['SONG_DATA']

logger.info('LOG_DATA:  {}'.format(LOG_DATA))
logger.info('LOG_JSONPATH:  {}'.format(LOG_JSONPATH))
logger.info('SONG_DATA:  {}'.format(SONG_DATA))

## Open Database Connection

In [26]:
try:
    conn_string = "host={} dbname={} user={} password={} port={}"
    conn_string = conn_string.format(*config['CLUSTER'].values())
    conn = psycopg2.connect( conn_string )
    cur = conn.cursor()
    print(conn_string)
    logger.info('Open database connection')
    
except Exception as e:
    print("Error: Could not make connection to the sparkify DB")
    print(e)

host=dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com dbname=sparkify user=dwhuser password=Passw0rd port=5439

## Disable Cache

In [27]:
try:
    cur.execute("SET enable_result_cache_for_session TO OFF;")
    conn.commit()
    logger.info('Disable cache for session')
except psycopg2.Error as e: 
    logger.info("Error: setting result cache to OFF")
    print(e)

## Load Staging Tables

In [8]:
logger.info('Load staging tables...')
load_staging_tables(cur, conn)

## Insert to Final Tables

In [9]:
logger.info('Load final tables...')
insert_tables(cur, conn)

## Check Table Counts

In [28]:
conn_string_2 = "postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, 
                                                     HOST, DB_PORT, DB_NAME)
print(conn_string_2)
%sql $conn_string_2

postgresql://dwhuser:Passw0rd@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify

'Connected: dwhuser@sparkify'

In [11]:
from sql_queries import count_table_queries
logger.info('Check table counts...')
count_table_rows(cur, conn)

In [12]:
%%sql
SELECT * FROM staging_events
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(58, 'Infected Mushroom', 'Logged In', 'Kaylee', 'F', 6, 'Summers', 440.2673, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', Decimal('1540344794796.0'), 139, 'Becoming Insane', 200, 1541107053796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', '8'),
 (44, 'Dance Gavin Dance', 'Logged In', 'Marina', 'F', 0, 'Sutton', 218.46159, 'free', 'Salinas, CA', 'PUT', 'NextSong', Decimal('1541064343796.0'), 47, 'Uneasy Hearts Weigh The Most', 200, 1541127957796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '48'),
 (108, 'Christina Aguilera', 'Logged In', 'Lily', 'F', 2, 'Koch', 254.48444, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796.0'), 172, 'Impossible', 200, 1541149698796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 (172, 'Benga', 'Logged In', 'Lily', 'F', 9, 'Koch', 286.17098, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796.0'), 172, 'The Cut', 200, 1541151325796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 (236, 'Smile Empty Soul', 'Logged In', 'Lily', 'F', 17, 'Koch', 218.61832, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796.0'), 172, 'Bottom of a Bottle (Explicit Album Version)', 200, 1541153045796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 (300, 'Survivor', 'Logged In', 'Lily', 'F', 25, 'Koch', 245.36771, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796.0'), 172, 'Eye Of The Tiger', 200, 1541154546796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 (364, 'Young Money featuring Lloyd', 'Logged In', 'Lily', 'F', 33, 'Koch', 196.33587, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796.0'), 172, 'BedRock (Radio Edit) (feat.Lloyd)', 200, 1541156671796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 (428, 'D-12', 'Logged In', 'Aleena', 'F', 1, 'Kirby', 261.40689, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796.0'), 157, 'Barbershop', 200, 1541157808796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 (492, 'AFI', 'Logged In', 'Lily', 'F', 40, 'Koch', 198.97424, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796.0'), 172, 'Miss Murder', 200, 1541158400796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 (556, 'Carnifex', 'Logged In', 'Lily', 'F', 44, 'Koch', 219.89832, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796.0'), 172, 'By Darkness Enslaved', 200, 1541159299796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15')]

In [13]:
%%sql
SELECT * FROM staging_songs
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[('SOIYUEY12AB0184151', 'AR4QYVC1187B99985B', None, None, '', 'DJ Harry', "'Round the Wheel", 495.90812, 2001),
 ('SOGZZST12A6D4F6990', 'AR9HFG31187FB37110', None, None, '', 'Kenny Rogers And Dottie West', "'Til I Can Make It On My Own", 200.51546, 0),
 ('SOVLQYZ12AC3DF6BCA', 'ARPNY981187B9ACB75', None, None, 'Switzerland', 'Eluveitie', '(Do)Minion', 307.69587, 2010),
 ('SOPWXGG12A81C2043A', 'ARQ5H951187FB5CE8C', None, None, '', 'Slot', '(The Remains of) Emma Peel', 40.09751, 0),
 ('SOAREDH12AB01864E3', 'ARZLUSX1187FB4D40A', None, None, '', 'Squeeze', '(This Could Be) The Last Time', 229.32853, 1989),
 ('SOSZAQZ12A8C139FD8', 'AR5MK521187B98E0B8', 51.50632, -0.12714, 'London, England', 'Heaven 17', "(We Don't Need This) Fascist Groove Thang (Rapino Club Mix)", 354.19383, 2009),
 ('SOUBGLO12AF729B222', 'ARBYA1N1187B98F5A1', None, None, 'Peoria, IL', 'Mudvayne', '(k)Now F(orever)', 426.29179, 2000),
 ('SOSRWDS12A6D4FB181', 'AR4YEJU1187B991468', 53.4919, 10.00202, 'Wilhelmsburg, Germany', 'Wolfsheim', '...Can Manage...', 245.68118, 1992),
 ('SOGKZBW12A8C137E32', 'AR3DRZ71187B991073', 42.23679, -70.87485, 'Hingham, MA', 'The Unseen', '1000 Miles', 84.53179, 2001),
 ('SOVTWVI12A6D4FC155', 'ARCIT9G1187B9A98EF', 44.97903, -93.26493, 'Minneapolis, MN', 'Lifter Puller', '11th Ave Freezout', 203.15383, 2009)]

In [14]:
%%sql
SELECT * FROM songplays
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(3, datetime.datetime(2018, 11, 5, 17, 0, 27), 73, 'paid', 'SOBANHD12A58A7BB7C', 'ARSUFX91187FB3B73E', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (28, datetime.datetime(2018, 11, 6, 20, 12, 11), 97, 'paid', 'SODCQYZ12A6D4F9B26', 'ARYJ7KN1187B98CC73', 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (125, datetime.datetime(2018, 11, 7, 15, 41, 10), 15, 'paid', 'SOWEUOO12A6D4F6D0C', 'ARQUMH41187B9AF699', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (279, datetime.datetime(2018, 11, 13, 17, 28, 33), 97, 'paid', 'SOIBHYW12AB0188F49', 'ARWNARC122BCFCAFEB', 537, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (38, datetime.datetime(2018, 11, 14, 6, 19, 41), 80, 'paid', 'SOACRBY12AB017C757', 'ARVGCRM11F50C496F4', 548, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (248, datetime.datetime(2018, 11, 14, 15, 47, 47), 80, 'paid', 'SOHOVIP12A6D4F9267', 'ARQQ5B61187B9B4F61', 574, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (117, datetime.datetime(2018, 11, 14, 23, 38, 6), 49, 'paid', 'SOWEUOO12A6D4F6D0C', 'ARQUMH41187B9AF699', 576, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (313, datetime.datetime(2018, 11, 15, 7, 31, 55), 49, 'paid', 'SOCUITT12AB0187A32', 'ARKS2FE1187B99325D', 606, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (0, datetime.datetime(2018, 11, 18, 19, 24, 51), 29, 'paid', 'SOCOWCL12A8C1415F7', 'AR8K3HD1187B9B9CA9', 589, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (34, datetime.datetime(2018, 11, 19, 17, 41, 51), 52, 'free', 'SOFPDCU12A6D4FD0DC', 'AR8P6CT1187FB458AB', 601, 'Houston-The Woodlands-Sugar Land, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [15]:
%%sql
SELECT * FROM users
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free')]

In [16]:
%%sql
SELECT * FROM songs
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, 216.05832),
 ('SOAAKLA12A58A7A3CC', 'Snow Day (LP Version)', 'ARGWNT41187FB463F1', 0, 211.90485),
 ('SOAASHY12A58A7C439', 'Ricordo', 'AR0VQ8W1187FB4F4D9', 2003, 275.98322),
 ('SOAAXAZ12A6701CC77', 'Min Häst har Blivit Sjuk', 'AR45GZC1187FB48E44', 1975, 282.14812),
 ('SOAAZWW12A8AE460E9', 'Dream', 'AR7OWGF1187FB44CB8', 2006, 268.64281),
 ('SOABHYQ12A8C13D8FF', 'Inner Frame', 'ARAYDD71187FB5B775', 0, 247.43138),
 ('SOABSTO12AB0180A29', 'Duke of Earl', 'ARL53RS1187B9B19AD', 1994, 224.88771),
 ('SOABWAP12A8C13F82A', 'Take Time', 'AR5LMPY1187FB573FE', 1978, 258.89914),
 ('SOACJST12AB017DE22', 'Broken Heart', 'AREH2ET1187B9AEFDE', 2008, 217.05098),
 ('SOACRBY12AB017C757', 'On A Deeper Level', 'ARVGCRM11F50C496F4', 0, 396.93016)]

In [17]:
%%sql
SELECT * FROM artists
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00YYQ1187FB504DC', 'God Is My Co-Pilot', 'New York, NY', 40.71455, -74.00712),
 ('AR01SCU1187B9A693C', 'Street Dogs', 'Boston, MA', None, None),
 ('AR02LMQ1187B992AC9', 'The Classic Crime', 'Seattle, WA', 47.60356, -122.32944),
 ('AR03ESE1187B992BC5', 'Bon Voyage', '', None, None),
 ('AR03IZC1187FB3E058', 'Aidonia', '', None, None),
 ('AR0687M1187FB5604E', 'Final Fantasy', 'Texas', None, None),
 ('AR06EB01187FB40150', 'NOFX', 'Berkeley, CA', None, None),
 ('AR06M3F1187FB38BED', 'Mississippi Fred McDowell', 'Rossville, Tennessee (Lived in Como, Mississippi)', 34.51042, -89.94049),
 ('AR06XSY1187B9B279E', 'Little River Band', 'Melbourne, Australia', None, None)]

In [18]:
%%sql
SELECT * FROM time
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(datetime.datetime(2018, 11, 2, 5, 52, 29), 5, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 47, 1), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 4, 5), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 47, 41), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 4, 31), 11, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 17, 10), 11, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 21, 14), 11, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 39, 40), 11, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 44, 8), 11, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 12, 23, 1), 12, 2, 44, 11, 2018, 5)]

## Example Queries

### Top 10 Songs in songplays

In [41]:
%%sql
WITH songplays_ext  AS (
         SELECT *
         FROM   songplays
         JOIN   songs
         ON     sp_song_id = s_song_id
         JOIN   artists
         ON     sp_artist_id = a_artist_id
)

SELECT   s_title AS "song title",
         a_name AS "artist name",
         COUNT(*) count
FROM     songplays_ext
GROUP BY s_title, a_name
ORDER BY count DESC, s_title
LIMIT    10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[("You're The One", 'Dwight Yoakam', 37),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ("I CAN'T GET STARTED", 'Ron Carter', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ("Hey Daddy (Daddy's Home)", 'Usher featuring Jermaine Dupri', 6),
 ("Hey Daddy (Daddy's Home)", 'Usher', 6),
 ('Make Her Say', 'Kid Cudi / Kanye West / Common', 5),
 ('Make Her Say', 'Kid Cudi', 5),
 ('Up Up & Away', 'Kid Cudi', 5),
 ('Up Up & Away', 'Kid Cudi / Kanye West / Common', 5)]

### Top 10 Users in songplays

In [84]:
%%sql
WITH songplays_ext AS (
         SELECT *
         FROM   songplays
         JOIN   users
         ON     sp_user_id = u_user_id
    )

SELECT   DISTINCT( u_first_name || ' ' || u_last_name ) AS "user name",
         u_user_id AS "user ID",
         COUNT( sp_session_id ) AS "session count"
FROM     songplays_ext
GROUP BY "user ID", "user name"
ORDER BY "session count" DESC
LIMIT    10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[('Chloe Cuevas', 49, 84),
 ('Tegan Levine', 80, 62),
 ('Mohammad Rodriguez', 88, 34),
 ('Kate Harrell', 97, 32),
 ('Lily Koch', 15, 30),
 ('Jacqueline Lynch', 29, 26),
 ('Matthew Jones', 36, 26),
 ('Aleena Kirby', 44, 21),
 ('Jacob Klein', 73, 18),
 ('Kinsley Young', 85, 14)]

### Most songs in a session for Top User (ID = 49)

In [94]:
%%sql
WITH user_sessions AS (
         SELECT  DISTINCT u_user_id, u_first_name, u_last_name, 
                 sp_session_id, s_title, a_name
         FROM    songplays
         JOIN    users
         ON      sp_user_id = u_user_id
         JOIN    songs
         ON      sp_song_id = s_song_id
         JOIN    artists
         ON      s_artist_id = a_artist_id
         WHERE   u_user_id = 49
    )

SELECT   u_first_name || ' ' || u_last_name AS "user name",
         sp_session_id AS "session ID",
         s_title AS "song title",
         a_name AS "artist name"
FROM     user_sessions
GROUP BY "session ID", "user name", "song title", "artist name"
ORDER BY "session ID";

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
50 rows affected.

[('Chloe Cuevas', 195, 'The Boy With The Thorn In His Side', 'The Smiths'),
 ('Chloe Cuevas', 405, "I CAN'T GET STARTED", 'Ron Carter'),
 ('Chloe Cuevas', 576, 'Given Up (Album Version)', 'Linkin Park'),
 ('Chloe Cuevas', 576, 'Monsoon', 'Jack Johnson'),
 ('Chloe Cuevas', 606, 'Thugs Like Me', 'Mia X'),
 ('Chloe Cuevas', 621, 'Spinning (Album Version)', "Jack's Mannequin"),
 ('Chloe Cuevas', 621, 'Spinning (Album Version)', "Jack's Mannequin featuring Mick Fleetwood"),
 ('Chloe Cuevas', 630, 'Fog On The Tyne (Live)', 'Lindisfarne'),
 ('Chloe Cuevas', 636, "I CAN'T GET STARTED", 'Ron Carter'),
 ('Chloe Cuevas', 648, 'Passenger 10', 'Passenger 10'),
 ('Chloe Cuevas', 724, 'Johnny_ I Hardly Knew Ya', 'Dropkick Murphys'),
 ('Chloe Cuevas', 758, 'O Xote Das Meninas/Asa Branca/Hino A Sao Jose', 'Marisa Monte'),
 ('Chloe Cuevas', 758, "Let's Get It Started", 'Black Eyed Peas'),
 ('Chloe Cuevas', 758, "Let's Get It Started", 'Black Eyed Peas / Terry Dexter'),
 ('Chloe Cuevas', 758, "Let's Get It Started", 'Black Eyed Peas / Les Nubians / Mos Def'),
 ('Chloe Cuevas', 816, 'Subterranean Homesick Alien', 'Radiohead'),
 ('Chloe Cuevas', 816, 'Warning', 'Incubus'),
 ('Chloe Cuevas', 816, "St. Patrick's Day", 'John Mayer'),
 ('Chloe Cuevas', 849, 'Fake Tales Of San Francisco', 'Richard Hawley And Death Ramps_ Arctic Monkeys'),
 ('Chloe Cuevas', 849, 'Fake Tales Of San Francisco', 'Arctic Monkeys'),
 ('Chloe Cuevas', 916, 'Rianna', 'Fisher'),
 ('Chloe Cuevas', 923, "You're The One", 'Dwight Yoakam'),
 ('Chloe Cuevas', 930, 'Bury My Heart', 'The Waterboys'),
 ('Chloe Cuevas', 987, "Let's Get It Started", 'Black Eyed Peas / Les Nubians / Mos Def'),
 ('Chloe Cuevas', 987, "Let's Get It Started", 'Black Eyed Peas'),
 ('Chloe Cuevas', 987, "Let's Get It Started", 'Black Eyed Peas / Terry Dexter'),
 ('Chloe Cuevas', 987, 'In A Dead World (Album Version)', 'Killswitch Engage'),
 ('Chloe Cuevas', 1023, 'From The Ritz To The Rubble', 'Richard Hawley And Death Ramps_ Arctic Monkeys'),
 ('Chloe Cuevas', 1023, 'From The Ritz To The Rubble', 'Arctic Monkeys'),
 ('Chloe Cuevas', 1041, "You're The One", 'Dwight Yoakam'),
 ('Chloe Cuevas', 1041, 'I Am The Club (Explicit Album Version)', 'Plies featuring Tank'),
 ('Chloe Cuevas', 1041, 'No Puedo Evitar (Pensar En Ti)', 'Duncan Dhu'),
 ('Chloe Cuevas', 1041, 'Fighters (feat. Matthew Santos) (Amended Album Version)', 'Lupe Fiasco'),
 ('Chloe Cuevas', 1041, 'Despre tine', 'O-Zone'),
 ('Chloe Cuevas', 1041, 'Witness', 'Screaming Trees'),
 ('Chloe Cuevas', 1041, 'My Night With the Prostitute From Marseille', 'Beirut'),
 ('Chloe Cuevas', 1041, 'The Way I Loved You', 'Taylor Swift'),
 ('Chloe Cuevas', 1041, 'The Moon Asked The Crow', 'Cocorosie'),
 ('Chloe Cuevas', 1041, 'I Am The Club (Explicit Album Version)', 'Plies'),
 ('Chloe Cuevas', 1041, 'Fighters (feat. Matthew Santos) (Amended Album Version)', 'Lupe Fiasco feat. Matthew Santos'),
 ('Chloe Cuevas', 1041, "I CAN'T GET STARTED", 'Ron Carter'),
 ('Chloe Cuevas', 1079, 'Starfish-On-The-Toast (2008 Digital Remaster)', 'Donovan'),
 ('Chloe Cuevas', 1079, "Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B'),
 ('Chloe Cuevas', 1079, 'Next Hype', 'Tempa T'),
 ('Chloe Cuevas', 1079, 'Waterfall (Spirit Of The Rainforest Album Version)', 'David Arkenstone'),
 ('Chloe Cuevas', 1079, 'World Coming Down', 'Ashbury Heights'),
 ('Chloe Cuevas', 1096, "You're The One", 'Dwight Yoakam'),
 ('Chloe Cuevas', 1096, "I CAN'T GET STARTED", 'Ron Carter'),
 ('Chloe Cuevas', 1114, 'Settle For A Slowdown', 'Dierks Bentley'),
 ('Chloe Cuevas', 1114, 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon')]

In [92]:
%%sql
SELECT  DISTINCT u_user_id, u_first_name, u_last_name, sp_session_id, s_title, a_name
FROM    songplays
JOIN    users
ON      sp_user_id = u_user_id
JOIN    songs
ON      sp_song_id = s_song_id
JOIN    artists
ON      s_artist_id = a_artist_id
WHERE   u_user_id = 49
LIMIT   10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(49, 'Chloe', 'Cuevas', 758, 'O Xote Das Meninas/Asa Branca/Hino A Sao Jose', 'Marisa Monte'),
 (49, 'Chloe', 'Cuevas', 930, 'Bury My Heart', 'The Waterboys'),
 (49, 'Chloe', 'Cuevas', 987, 'In A Dead World (Album Version)', 'Killswitch Engage'),
 (49, 'Chloe', 'Cuevas', 1114, 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon'),
 (49, 'Chloe', 'Cuevas', 1041, "I CAN'T GET STARTED", 'Ron Carter'),
 (49, 'Chloe', 'Cuevas', 1096, "You're The One", 'Dwight Yoakam'),
 (49, 'Chloe', 'Cuevas', 816, 'Warning', 'Incubus'),
 (49, 'Chloe', 'Cuevas', 1041, 'Despre tine', 'O-Zone'),
 (49, 'Chloe', 'Cuevas', 1041, 'I Am The Club (Explicit Album Version)', 'Plies featuring Tank'),
 (49, 'Chloe', 'Cuevas', 1079, 'World Coming Down', 'Ashbury Heights')]

In [32]:
%%sql
SELECT *
FROM   songs
JOIN   artists
ON     s_artist_id = a_artist_id
WHERE  a_artist_id = 'ARQUMH41187B9AF699'

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[('SOWEUOO12A6D4F6D0C', 'Given Up (Album Version)', 'ARQUMH41187B9AF699', 2007, 189.28281, 'ARQUMH41187B9AF699', 'Linkin Park', 'Los Angeles, CA', 34.05349, -118.24532),
 ('SOEKSGJ12A67AE227E', 'Crawling (Album Version)', 'ARQUMH41187B9AF699', 2000, 208.95302, 'ARQUMH41187B9AF699', 'Linkin Park', 'Los Angeles, CA', 34.05349, -118.24532)]

## Close Database Connection

In [95]:
conn.close()
logger.info('DB connection closed')