# Data Warehouse with Redshift - Queries
Run this notebook after loading all final tables for analytics.
>
> **Stephanie Anderton**  
> DEND Project \#3  
> May 29, 2019
>

In [1]:
import configparser
import psycopg2
import pandas as pd
import json
import time
import mylib
from mylib import logger
import re

%load_ext sql

## Main()

In [2]:
logger.info('---[ Run Queries Notebook ]---')
mylib.log_timestamp()
print("Logfile:  " + mylib.get_log_file_name())

config = configparser.ConfigParser()
config.read('dwh.cfg')

HOST        = config['CLUSTER']['HOST']
DB_NAME     = config['CLUSTER']['DB_NAME']
DB_USER     = config['CLUSTER']['DB_USER']
DB_PASSWORD = config['CLUSTER']['DB_PASSWORD']
DB_PORT     = config['CLUSTER']['DB_PORT']

ARN         = config['IAM_ROLE']['ARN']

# Connection to database
conn_string = "postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, 
                                                   HOST, DB_PORT, DB_NAME)
logger.info('connected to database')
print(conn_string)
%sql $conn_string

Logfile:  ./logs/etl-20190530.log
postgresql://dwhuser:Passw0rd@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify

'Connected: dwhuser@sparkify'

## Display top 10 rows of Tables

In [ ]:
%%sql
SELECT * FROM staging_events
LIMIT  10;

In [ ]:
%%sql
SELECT * FROM staging_songs
LIMIT  10;

In [5]:
%%sql
SELECT  DISTINCT sp_start_time          AS date,
        DATE_PART(hour, date)::INT      AS hour,
        DATE_PART(day, date)::INT       AS day,
        DATE_PART(week, date)::INT      AS week,
        DATE_PART(month, date)::INT     AS month,
        DATE_PART(year, date)::INT      AS year,
        DATE_PART(weekday, date)::INT   AS weekday
FROM    songplays
WHERE   sp_session_id = 139;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, 4)]

In [4]:
%%sql
SELECT * FROM songplays
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(15, datetime.datetime(2018, 11, 1, 21, 11, 13), 8, 'free', 'SOEIQUY12AF72A086A', 'ARHUC691187B9AD27F', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (190, datetime.datetime(2018, 11, 2, 18, 36, 53), 71, 'free', 'SOBBZPM12AB017DF4B', 'ARH6W4X1187B99274F', 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (243, datetime.datetime(2018, 11, 4, 6, 51, 12), 25, 'paid', 'SORKKTY12A8C132F3E', 'ARIH5GU1187FB4C958', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (154, datetime.datetime(2018, 11, 5, 14, 39, 43), 91, 'free', 'SOODHLO12AF72A1980', 'ARNLVQB1187B9AEAB0', 90, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)'),
 (179, datetime.datetime(2018, 11, 5, 17, 49, 42), 73, 'paid', 'SOHDWWH12A6D4F7F6A', 'ARC0IOF1187FB3F6E6', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (319, datetime.datetime(2018, 11, 5, 18, 26, 7), 73, 'paid', 'SOKQFRT12A8C132F46', 'AR0N7RH1187B9B7497', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (144, datetime.datetime(2018, 11, 6, 8, 49, 19), 12, 'free', 'SOBJDDA12A6BD53159', 'ARCS4GZ1187FB469EB', 300, 'New York-Newark-Jersey City, NY-NJ-PA', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (89, datetime.datetime(2018, 11, 6, 16, 38, 15), 2, 'free', 'SOSMXVH12A58A7CA6C', 'AR6PJ8R1187FB5AD70', 126, 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (37, datetime.datetime(2018, 11, 7, 5, 32, 6), 50, 'free', 'SOXQUPO12A6D4FC2B6', 'AR79C1C1187FB4C482', 313, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (281, datetime.datetime(2018, 11, 8, 19, 5, 26), 80, 'paid', 'SOECIFL12A6D4F78FE', 'AR6SPRZ1187FB4958B', 376, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [15]:
%%sql
SELECT * FROM users
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free')]

In [16]:
%%sql
SELECT * FROM songs
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, 153.36444),
 ('SOAAHZO12A67AE1265', 'Agni Sha Kshi', 'AR9DE5T1187FB48CA3', 0, 229.69424),
 ('SOAASSD12AB0181AA6', 'Song From Moulin Rouge', 'ARKXLIJ1187B9A4C54', 0, 195.02975),
 ('SOAAXEV12A6D4FA21C', 'Micro Chip', 'ARTRZBZ1187FB5698A', 2006, 230.71302),
 ('SOAAXYX12A8C133B77', 'Can I Get With You', 'AR4OH581187B9B7157', 2000, 242.72934),
 ('SOAAYRB12AB0184B94', 'Should I Tell You', 'ARWEFTK1257509DE19', 2009, 164.46649),
 ('SOABFQI12A58A7D162', 'Another World (Album Version)', 'AR9B5JX1187FB55D84', 1977, 494.10567),
 ('SOABHSF12AB0182977', 'Perdicion', 'ARFD5AT1187FB40779', 0, 281.28608),
 ('SOABLOU12AB0182F90', 'Make It This Time (feat. Biga)', 'ARZRF6K1187B9A9AEA', 2009, 320.33914),
 ('SOABNVJ12A58A7E7FB', 'Play With Fire', 'ARVOEIW11F50C4ED16', 0, 126.04036)]

In [17]:
%%sql
SELECT * FROM artists
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[('AR026PU1187FB43FD9', 'The Vapors', '', None, None),
 ('AR040M31187B98CA41', 'The Bug Featuring Spaceape', '', None, None),
 ('AR040M31187B98CA41', 'The Bug Featuring Ricky Ranking', '', None, None),
 ('AR040RJ1187FB4D2AB', 'Azure Ray', '', None, None),
 ('AR04PRW1187FB4D60D', 'The Bens', '', None, None),
 ('AR05UYB1187B99B90F', 'General Electrics', 'Paris, France', 48.85692, 2.34121),
 ('AR061J011A348F060F', 'Ximena Sarinana', 'MX', 23.62574, -101.95625),
 ('AR065TW1187FB4C3A5', 'Tricky', 'Knowle West, Bristol, Avon, Engla', 51.43558, -2.57518),
 ('AR065TW1187FB4C3A5', 'Tricky / The Mad Dog Reflex', 'Knowle West, Bristol, Avon, Engla', 51.43558, -2.57518),
 ('AR065TW1187FB4C3A5', 'Nearly God', 'Knowle West, Bristol, Avon, Engla', 51.43558, -2.57518)]

In [6]:
%%sql
SELECT * FROM time
LIMIT  10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(datetime.datetime(2018, 11, 2, 17, 31, 45), 17, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 5, 1, 58, 24), 1, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 15, 31, 19), 15, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 17, 54, 32), 17, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 6, 23, 32, 39), 23, 6, 45, 11, 2018, 2),
 (datetime.datetime(2018, 11, 7, 1, 42, 43), 1, 7, 45, 11, 2018, 3),
 (datetime.datetime(2018, 11, 8, 19, 5, 26), 19, 8, 45, 11, 2018, 4),
 (datetime.datetime(2018, 11, 9, 17, 2, 17), 17, 9, 45, 11, 2018, 5),
 (datetime.datetime(2018, 11, 9, 17, 35, 10), 17, 9, 45, 11, 2018, 5),
 (datetime.datetime(2018, 11, 9, 22, 46, 58), 22, 9, 45, 11, 2018, 5)]

---
## Example Queries

### Top 10 Songs in songplays

In [8]:
%%sql
WITH songplays_ext  AS (
         SELECT *
         FROM   songplays
         JOIN   songs
         ON     sp_song_id   = s_song_id
         JOIN   artists
         ON     sp_artist_id = a_artist_id
)

SELECT   s_title   AS "song title",
         a_name    AS "artist name",
         COUNT(*)  AS count
FROM     songplays_ext
GROUP BY s_title, a_name
ORDER BY count DESC, s_title, a_name
LIMIT    10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[("You're The One", 'Dwight Yoakam', 37),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ("I CAN'T GET STARTED", 'Ron Carter', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ("Hey Daddy (Daddy's Home)", 'Usher', 6),
 ("Hey Daddy (Daddy's Home)", 'Usher featuring Jermaine Dupri', 6),
 ('Make Her Say', 'Kid Cudi', 5),
 ('Make Her Say', 'Kid Cudi / Kanye West / Common', 5),
 ('Up Up & Away', 'Kid Cudi', 5),
 ('Up Up & Away', 'Kid Cudi / Kanye West / Common', 5)]

### Top 10 Users in songplays

In [12]:
%%sql
WITH songplays_ext AS (
         SELECT sp_songplay_id, u_first_name, u_last_name, u_user_id
         FROM   songplays
         JOIN   users
         ON     sp_user_id = u_user_id  AND
                sp_level   = u_level
    )

SELECT   DISTINCT( u_first_name || ' ' || u_last_name ) AS "user name",
         u_user_id                                      AS "user ID",
         COUNT(*)                                       AS "song count"
FROM     songplays_ext
GROUP BY "user ID", "user name"
ORDER BY "song count" DESC, "user name"
LIMIT    10;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[('Chloe Cuevas', 49, 42),
 ('Kate Harrell', 97, 32),
 ('Tegan Levine', 80, 31),
 ('Aleena Kirby', 44, 21),
 ('Jacob Klein', 73, 18),
 ('Mohammad Rodriguez', 88, 17),
 ('Lily Koch', 15, 15),
 ('Jacqueline Lynch', 29, 13),
 ('Layla Griffin', 24, 13),
 ('Matthew Jones', 36, 13)]

### ID for user with most songs

In [18]:
%%sql
WITH songplays_ext AS (
        SELECT   sp_session_id, u_user_id
        FROM     songplays
        JOIN     users
        ON       sp_user_id = u_user_id  AND
                 sp_level   = u_level
    ),
    session_counts AS (
        SELECT   u_user_id,
                 COUNT( sp_session_id ) AS count
        FROM     songplays_ext
        GROUP BY u_user_id
    ),
    max_session  AS (
        SELECT   MAX(count) AS max_count
        FROM     session_counts
    )

SELECT  u_user_id AS top_user
FROM    session_counts
WHERE   count = ( 
        SELECT   max_count
        FROM     max_session
);

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(49,)]

In [19]:
%%sql
SELECT   sp_user_id, sp_level, COUNT(*)
FROM     songplays
WHERE    sp_user_id = 49
GROUP BY sp_user_id, sp_level;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(49, 'free', 2), (49, 'paid', 40)]

### Top 5 sessions with most songs for Top User (ID = 49)

In [14]:
%%sql
WITH songplays_user AS (
         SELECT  *
         FROM    songplays
         WHERE   sp_user_id  = 49
    ),
    user_sessions AS (
         SELECT  u_first_name, u_last_name, 
                 sp_session_id, sp_start_time, s_title
         FROM    songplays_user
         JOIN    users
         ON      sp_user_id  = u_user_id  AND
                 sp_level    = u_level
         JOIN    songs
         ON      sp_song_id  = s_song_id
    )

SELECT   u_first_name || ' ' || u_last_name  AS "user name",
         sp_session_id                       AS "session ID",
         (DATE_PART('year', 
                    sp_start_time) || '-' || DATE_PART('month', 
                    sp_start_time) || '-' || DATE_PART('day', 
                    sp_start_time))          AS date,
         COUNT(s_title)                      AS "song count"
FROM     user_sessions
GROUP BY sp_session_id, date, "user name"
ORDER BY "song count" DESC, date
LIMIT    5;

 * postgresql://dwhuser:***@dwhcluster.cbsjbxldkge8.us-west-2.redshift.amazonaws.com:5439/sparkify
5 rows affected.

[('Chloe Cuevas', 1041, '2018-11-29', 11),
 ('Chloe Cuevas', 1079, '2018-11-30', 5),
 ('Chloe Cuevas', 816, '2018-11-21', 3),
 ('Chloe Cuevas', 576, '2018-11-14', 2),
 ('Chloe Cuevas', 758, '2018-11-20', 2)]